/*div.row1 {
    color: blue;
    background-color: yellow;
}

div {
    column-count:3;
    grid-column-end: span;
    text-align:center;
}*/



.btn.btn-info {
    color:black;
    background-color:#aad;
    border-color:#aad;
}

.btn.btn-info:hover {
    background-color:#aaf;
    border-color:#aaa;
}

.btn {
    margin-top: 1%;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

.btn.btn-info.style1 {
    background-color: rgb(208, 158, 69);
    color: #3c3cb5
}

.btn.btn-info.style1:hover {
    background-color:#efc570;
    border-color:#3c3cb5;
}

.btn.btn-info.style2 {
    background-color: #3c3cb5;
    color:rgb(208, 158, 69);
}

.btn.btn-info.style2:hover {
    background-color:#6b65f2;
    border-color:rgb(208, 158, 69);
}

.mainBody {
    background-color: #acacdf;
    display:inline-block;
    text-align: center;
}

.box {
    height: 50px;
    width: 50px;
    border-radius: 4px;
    background-color: #363691;
}